@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f7bae7;
  font-family: "Poppins", sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
  }

  .swiper-button-prev::after{
    font-size: 25px;
  }
  
 .swiper-button-next::after{
  font-size: 25px;
 }

 .swiper-button-next{
  color: #240365;
 }

 .swiper-button-prev{
  color: #240365;
 }

 .swiper-pagination-bullet{
  background-color: #d3d2d2;
  opacity: 1;
 }

 .swiper-pagination-bullet-active{
  background-color: #240365;
 }

 .menu{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
 }

 .navbar{
  display: flex;
 }

 .menu-1{
  margin-right: 180px;
 }


  

  
